@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    @apply bg-gray-50;
}

@layer base {
    h2 {
        @apply text-2xl font-bold;
    }
}

@layer components {
    .btn {
        display: inline-block;
        @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white;
    }

    .thumb {
        max-height: 120px;
        max-width: 70%;
        margin: 0 auto;
    }

    .card {
        @apply p-3 rounded-md bg-white shadow-md h-full;
    }
}
